html{
    height: 100%;
    width: 100%;
}

header{
    background-color: red;
}

path.active {
    fill: red; /* 任意の色に変更 */
}


.todouhuken{
    fill: white;
    stroke: black;
    stroke-width: 2;
}
.play-ground{
    background-image: url('picture_file/ab.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.Button{
    background-color: aqua;
}
